[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"
rope = "*"

[packages]
pandas = "*"
beautifulsoup4 = "*"
xlsxwriter = "*"
nbconvert = "*"
Jinja2 = "*"
PyGithub = "*"
PyYAML = "*"
python-Levenshtein = "*"
graphqlclient = "*"
numpy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
